:root {

    --primary-red: #953130;
    --primary-grey: #545454;
    --primary-white: #F2F0EB;
    --secondary-dark-red: #792322;
    --secondary-red: #B26161;
    --secondary-light-red: #CFA1A1;
    --secondary-white: #FFFFFF;
    --accent-dark-blue: #177E89;
    --accent-blue: #5CB4BD;
    
}

.header {

    color: var(--primary-red);

}

/* Buttons */

.btn {
    background-color: var(--primary-red);
    color: white;
    transition-property: filter;
    transition-duration: 0.5s; 
}

.btn:hover {
    filter: brightness(120%);
    transition-property: filter;
    transition-duration: 0.5s;
}

.secondary-to-primary-btn {
    background-color: var(--primary-grey);
    color: white;
    border: none;
}

.secondary-to-primary-btn-active {
    background-color: var(--primary-red);
    color: white;
}

.secondary-btn {
    background-color: var(--accent-dark-blue);
    color: white;
}

/* Character Sheet */

.charSheet-base {

    /* max-width: 90rem; */

    margin-top: 5rem;
    margin-left: 4rem;
    margin-right: 4rem;
    width: auto;

}

.charSheet-body {
    
    width: auto;
    float:top;
    margin: auto;
    background: var(--primary-white);

}

.charSheet-cell {

    padding: 0;

}

/* Tables */

.table td {

    padding: 0;

}

.nav-tabs {

    background-color: var(--primary-grey);

}