{% extends "layout.html" %}
{% block content %}
    <div>
        
        <h1>Character Name</h1>
        <button>Edit</button>

        <table class="table"> <!-- Character sheet body -->

            <tbody class="charSheet-body"> <!-- Core stats --> 

                <tr>
                <td>2</td>
                </tr>

                <tr>
                <td class="charSheet-cell">3</td>
                <td>4</td>
                <td>5</td>
                </tr>

            </tbody>

        </table>

    </div>
{% endblock %}